/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  width: 50%;
  float: left;
  padding: 10px 15px;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%;
      background: #f2f2f2;
      padding-top: 30px; } }
  @media (max-width: 479px) {
    #footer #newsletter_block_left {
      padding-top: 15px; } }
  #footer #newsletter_block_left .block_content {
    margin: 0; }
  #footer #newsletter_block_left h4 {
    background: none;
    float: left;
    padding: 3px 11px 2px 0;
    line-height: 25px;
    border: none;
    margin: 0; }
    @media (max-width: 479px) {
      #footer #newsletter_block_left h4 {
        float: none; } }
    #footer #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 30px;
      max-width: 200px;
      background: #fff;
      border-color: #e2e2e2;
      color: #888;
      font: 300 10px/20px Ubuntu, sans-serif;
      text-transform: uppercase;
      padding: 5px 12px;
      display: inline-block;
      float: left; }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0 0 0;
        -webkit-box-shadow: black 0 0 0;
        box-shadow: black 0 0 0; }
    #footer #newsletter_block_left .form-group .btn-sm {
      margin-left: 4px;
      border: none;
      width: 31px;
      height: 30px;
      background: #24918a;
      text-align: center;
      color: #fff;
      padding: 0;
      position: relative; }
      #footer #newsletter_block_left .form-group .btn-sm:before {
        content: "\f101";
        font-family: "FontAwesome";
        font-size: 14px;
        line-height: 28px;
        padding-left: 2px;
        position: relative;
        z-index: 2; }
      #footer #newsletter_block_left .form-group .btn-sm:after {
        content: "";
        display: block;
        width: 0;
        background: #12afa3;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      #footer #newsletter_block_left .form-group .btn-sm:hover:after {
        width: 100%; }
      #footer #newsletter_block_left .form-group .btn-sm span {
        display: none; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
