@import "../../_theme_variables";

/* block top links */
ul#header_links {
  float: right;
  list-style-type: none;
  overflow: hidden;
  @media (max-width:$screen-sm-max){clear:both;float:left;margin:8px 0 14px;}
  @media (max-width:$screen-xs - 1){margin:13px 0 0px;width:100%;text-align:center;}
  li {
    text-transform: uppercase;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #e2e2e2;
    line-height: 14px;
	@media (max-width:$screen-sm-max){
		&:last-child{border-right:none;padding-right:0;}
		&:first-child{padding-left:0;}
	}
	@media (max-width:$screen-xs - 1){
	  float: none;
	  display: inline-block;
	  padding: 0 10px 0 8px;
	  &:last-child{padding-right:10px;}
	}
    span {
      font: 300 10px/14px $font-family;
      color: #12afa3;
    }
    a {
      font: 300 10px/14px $font-family;
      color: #888;
      text-decoration: none;
      &:hover, &.active {
        color: #12afa3;
      }
    }
  }
  @media (max-width:$screen-xs - 1){
	li#header_link_title{display:block;border-right:none;padding-right:0;margin-bottom:3px;}
  }
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee;
}

#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px
}

ul#footer_links li {
  display: inline;
  padding: 0 10px
}
