.layout-container {
    padding: 20px;
}
.resize-container {
    left:20px;
    top: 20px;
}
.component {
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ddd;
}
.white-image, .custom-white-image {
    display: none;
}
#slider-vertical {
    float: right;
    height: 100%;
}
#slider-vertical, #slider-vertical span {
    cursor: pointer;
}
.icon-rotate {
    margin-left: -6px;
    position: absolute;
    margin-top: -30px;
}
.btn-cart .btn {
    text-align: center;
}
.change-color-product-block,
.btn-cart {
    /*margin-left: 20px;*/
}
.change-color-product-block {
    position: absolute;
    top: 120px;
}

.preview-color div {
    max-height: 420px;
}
.change-color-product-block,
.fileinput-button,
#slider-vertical,
.btn-crop {
    z-index: 101;
    margin-bottom: 10px;
}
.btn-rotate {
    display: none;
}
.change-color-product {
    height: 100%;
    cursor: pointer;
}   
.change-product .subtitle-pic {
    font-size: 13px;
}
.block-choose-product {
    height: 495px;
    overflow: auto;
}
.list-item .img-product {
    border: 3px solid transparent;
}
.list-item.selected .img-product {
    border: 3px dashed #ddd
}
.designs-list {
    overflow: auto;
    height: 139px;
}
.block-color-product .thumbnail {
    margin-bottom: 10px;
}
.resize-image {
    width: 100%;
}
@media only screen and (max-width : 600px) {
    .component, .overlay, .overlay-inner img {
        height: 300px;
        width: 300px;
    }
    .resize-handle-ne, .resize-handle-se, .resize-handle-nw, .resize-handle-sw, .rotate-handle-ne, .rotate-handle-se, .rotate-handle-nw, .rotate-handle-sw {
        width: 30px;
        height: 30px;
    }
}
