    .component {
        text-align: center;
        height: 756px;
        padding: 4em;
        position: relative;
        border: 3px solid #E8E8E8;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .white-image, .custom-white-image {
        display: none;
    }
    .component .fileinput-button {
        top: 20px;
        left: 46px;
        position: absolute;
    }
    #slider-vertical {
        float: right;
        height: 100%;
    }
    #slider-vertical, #slider-vertical span {
        cursor: pointer;
    }
    .icon-rotate {
        margin-left: -6px;
        position: absolute;
        margin-top: -30px;
    }
    .btn-cart .btn {
        text-align: center;
    }
    .change-color-product-block {
        position: absolute;
        top: 400px;
        left: 45px;
    }

    .preview-color div {
        max-height: 420px;
    }
    .change-color-product-block,
    .fileinput-button,
    #slider-vertical,
    .btn-crop {
        z-index: 101;
        margin-bottom: 10px;
    }
    .change-color-product {
        height: 100%;
        cursor: pointer;
    }   
    .change-product .subtitle-pic {
        font-size: 13px;
    }
    .block-choose-product {
        height: 495px;
        overflow: auto;
    }
    .overlay-top,
    .overlay-bottom,
    .overlay-left,
    .overlay-right {
        position: absolute;
        z-index: 100;
        /*background: #f6f7f9;*/
        background: #ddd;
        pointer-events: none;
    }
    .overlay-top {
        width: 100%;
        top: 0;
        height: 52px;
        right: 0;
    }
    .overlay-bottom {
        width: 100%;
        bottom: 0;
        height: 93px;
        right: 0;
    }
    .overlay-right {
        height: 100%;
        width: 215px;
        top: 0;
        right: 0;
    }
    .overlay-left {
        height: 100%;
        width: 349px;
        top: 0;
        left: 0;
    }
    .list-item.selected .img-product {
        border: 3px solid #ddd;
    }
    .designs-list {
        overflow: auto;
        height: 139px;
    }
    .custom-margin-left {
        margin-left: 13%;
    }
    .block-color-product .thumbnail {
        margin-bottom: 10px;
    }
@media screen and (min-width: 769px){
    .btn-cart {
        position: absolute;
        top: 300px;
        left: 45px;
        z-index: 101;
    }
}
@media screen and (max-width: 1024px){
    .fileinput-button{
        width: auto;
    }
    .slider-vertical {
        display: none !important;
    }
    .resize-container,
    .overlay {
        left: 19%;
    }
    .overlay-left {
        width: 19%;
    }
    .custom-margin-left {
        margin-left: 2%;
    }
    .overlay-right {
        width: 17%;
    }
    .block-colors {
        height: 132px;
        overflow: auto;
    }
    .change-color-product-block {
        height: auto;
        position: relative; 
        width: 100%;
        top: inherit;
        left: inherit;
        margin-bottom: 10px;
    }
    .designs-list, .products-list {
        height: 112px;
    }
    .resize-handle-ne, .resize-handle-se, .resize-handle-nw, .resize-handle-sw, .rotate-handle-ne, .rotate-handle-se, .rotate-handle-nw, .rotate-handle-sw {
        width: 30px;
        height: 30px;
    }
    .uploader {
        text-align: left;
    }
    .block-selection .designs-list, .block-selection .products-list {
        height: auto;
    }
}

@media screen and (max-width: 768px){
    .resize-container, .overlay {
        left: 7%;
    }
    .designs-list, .products-list {
        height: 174px;
    }
    .overlay-left {
        width: 7%;
    }
    .overlay-right {
        width: 10%;
    }
    .custom-margin-left {
        margin-left: -2%;
    }
    #slider-vertical {
        right: -25px;
    }
    .change-color-product-block {
        height: auto;
    }
    .block-colors {
        height: auto;
    }
}
@media screen and (max-width: 670px){
    .component {
        height: 468px;
    }
    .overlay-inner {
        position: static;
    }
    .resize-container, .overlay {
        max-width: 84%;
    }
    .resize-container img, .overlay img {
        width: 100%;
    }
    .designs-list, .products-list {
        height: 156px;
    }
    .custom-margin-left {
        margin-left: -12%;
        width: 121%;
    }
    .block-color-product {
        width: 33%;
    }
    .overlay {
        height: 317px;
    }
}
@media screen and (max-width: 470px){
    .component {
        height: 369px;
        padding: 10px;
    }
    .designs-list, .products-list {
        height: 80px;
    }
    .custom-margin-left {
        margin-left: -2%;
        width: 80%;
    }
    .overlay-top,
    .overlay-bottom
    {
        height: 10px;
    }
}
@media screen and (max-width: 375px){
    .custom-margin-left {
        margin-left: -7%;
        width: 110%;
        margin-top: -30px;
    }
    .component {
        height: 336px;
    }
    .overlay {
        height: 285px;
    }
}
@media screen and (max-width: 320px){
    .col-xs-6.block-color-product {
        width: 33%;
    }
    .designs-list, .products-list {
        height: 68px;
    }
    .component {
        height: 288px;
    }
    .overlay {
        height: 263px;
    }
    .title-block-products {
        margin-bottom: 0;
    }
    .custom-margin-left {
        margin-left: -9%;
        width: 116%;
    }
}

