#currencies-block-top {
  float: left;
  position: relative; }
  #currencies-block-top div.current {
    font: 300 10px/14px Ubuntu, sans-serif;
    color: #888;
    cursor: pointer;
    text-transform: uppercase; }
    #currencies-block-top div.current strong {
      font-weight: 300;
      color: #4267b2; }
    #currencies-block-top div.current:hover strong, #currencies-block-top div.current.active strong {
      color: #888; }
    #currencies-block-top div.current:after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 10px;
      line-height: 14px;
      color: #888;
      padding: 0 10px 0 6px; }
    #currencies-block-top div.current.active:after {
      content: "\f106"; }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    height: 150px;
    overflow: auto;
    display: none;
    position: absolute;
    top: 17px;
    left: 0;
    width: 150px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 5px 21px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 21px rgba(0, 0, 0, 0.15); }
    #currencies-block-top ul li {
      font: 300 12px/22px Ubuntu, sans-serif;
      text-transform: uppercase;
      border-bottom: 1px solid #DDDDDD; }
      #currencies-block-top ul li:last-child {
        border-bottom: none; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 5px 0 10px;
        display: block;
        color: #333; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.18); }
