@charset "UTF-8";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1; }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
  #homepage-slider .homeslider-description {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase; }
    #homepage-slider .homeslider-description h4 {
      font: 400 35px/normal Ubuntu, sans-serif;
      color: #12afa3;
      margin: 0 0 8px;
      padding: 0; }
      @media (max-width: 479px) {
        #homepage-slider .homeslider-description h4 {
          font-size: 28px; } }
    #homepage-slider .homeslider-description p {
      font: 300 30px/normal Ubuntu, sans-serif;
      text-align: center;
      color: #888;
      margin: 0; }
      @media (max-width: 479px) {
        #homepage-slider .homeslider-description p {
          font-size: 20px;
          color: #555; } }

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .homeslider-container {
  position: relative; }
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0; }
#homepage-slider .homeslider-description {
    position: absolute;
    bottom: 35px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
}
  @media (max-width: 1199px) {
    #homepage-slider .homeslider-description {
      right: auto;
      left: 50%; } }
  @media (max-width: 991px) {
    #homepage-slider .homeslider-description {
      bottom: auto;
      top: 20%;
      left: 45%; } }
  @media (max-width: 767px) {
    #homepage-slider .homeslider-description {
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: rgba(255, 255, 255, 0.59);
      padding: 11% 30px 10px; } }
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    display: block;
    max-width: 100%;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%; }
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 999; }
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 3px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }
#homepage-slider .bx-wrapper .bx-prev {
  left: 25px;
  right: auto; }
  @media (min-width: 1350px) {
    #homepage-slider .bx-wrapper .bx-prev {
      left: -40px; } }
  @media (max-width: 767px) {
    #homepage-slider .bx-wrapper .bx-prev {
      left: 15px; } }
  #homepage-slider .bx-wrapper .bx-prev:before {
    content: "\f104"; }
#homepage-slider .bx-wrapper .bx-next {
  right: 25px; }
  @media (min-width: 1350px) {
    #homepage-slider .bx-wrapper .bx-next {
      right: -40px; } }
  @media (max-width: 767px) {
    #homepage-slider .bx-wrapper .bx-next {
      right: 15px; } }
  #homepage-slider .bx-wrapper .bx-next:before {
    content: "\f105"; }
#homepage-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  margin-top: -11px;
  outline: 0;
  z-index: 9999; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    color: #888; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    color: #12afa3; }
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none; }
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  right: 15px;
  width: 35px;
  top: 15px; }
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: Ubuntu, sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333333; }

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0;
  display: none; }
  #bx-pager-thumb a {
    display: inline-block;
    max-width: 150px;
    width: 31%; }
    #bx-pager-thumb a img {
      max-width: 100%;
      height: auto; }
