#search_block_top {
  width: auto;
  display: inline-block;
  float: none;
  margin: 20px 0 0 60px; }
  @media (max-width: 991px) {
    #search_block_top {
      display: block;
      float: right;
      margin-top: 13px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #search_block_top {
      margin-left: 0;
      margin-top: 32px; } }
  @media (max-width: 479px) {
    #search_block_top {
      display: block;
      float: none;
      margin: 20px 0 0; } }
  #search_block_top #searchbox {
    width: 100%;
    position: relative;
    border: none; }
  #search_block_top .btn.button-search {
    background: #4267b2;
    display: block;
    float: left;
    width: 31px;
    height: 30px;
    padding: 0;
    border: none;
    color: white;
    text-align: center;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    @media (max-width: 479px) {
      #search_block_top .btn.button-search {
        width: 11%; } }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 13px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      background: #4267b2; }
  #search_block_top #search_query_top {
    display: block;
    float: left;
    width: 200px;
    padding: 0 10px;
    margin-right: 4px;
    height: 30px;
    border: 1px solid #e2e2e2;
    /*background: none;*/
    font: 300 10px/28px Ubuntu, sans-serif;
    color: #888888;
    text-transform: uppercase; }
    @media (max-width: 479px) {
      #search_block_top #search_query_top {
        width: 88%;
        margin-right: 1%; } }

.ac_results {
  background: white;
  border: 1px solid #e2e2e2 !important;
  width: 271px;
  margin-top: 3px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .btn.btn-sm {
    float: left; }
    form#searchbox .btn.btn-sm i {
      margin-right: 0; }
