/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
  width: 100%; }

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  border: 1px solid #4267b2;
  position: relative;
  padding: 0;
  width: 100%;
  background: #4267b2; }
  @media (max-width: 767px) {
    .sf-menu {
      display: none; } }

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: white; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  width: 100%; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  float: left;
  border-right: 1px solid #fff; }
  @media (min-width: 768px) {
    .sf-menu > li:first-child {
      border-left: 1px solid #fff; } }
  @media (max-width: 767px) {
    .sf-menu > li {
      float: none;
      position: relative;
      border-right: none; }
      .sf-menu > li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
      .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 17px;
        width: 30px;
        height: 30px;
        z-index: 2;
        color: #fff; }
        .sf-menu > li span:after {
          font-family: "FontAwesome";
          content: "\f067";
          font-size: 20px; }
        .sf-menu > li span.active:after {
          content: "\f068"; } }
  .sf-menu > li > a {
    font: 300 14px/normal Ubuntu, sans-serif;
    color: #fff;
    display: block;
    padding: 17px 20px;
    background: #4267b2;
    text-transform: uppercase;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .sf-menu > li > a {
        padding: 14px 9px;
        font-size: 13px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .sf-menu > li > a {
        padding: 12px 7.42px;
        font-size: 10px; } }
    .sf-menu > li > a.sf-with-ul:after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 14px;
      margin-left: 7px;
      line-height: 0; }
    .sf-menu > li > a.sf-with-ul:hover:after {
      content: "\f106"; }
  .sf-menu > li.sfHover > a,
  .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    background: #fff;
    color: #4267b2; }

.sf-menu li li li a {
  display: inline-block;
  position: relative;
  font: 300 10px/25px Ubuntu, sans-serif;
  color: #ea3f23;
  text-transform: uppercase; }
  .sf-menu li li li a:hover {
    color: #4267b2; }

.sf-menu li li li.sfHoverForce > a {
  color: #4267b2; }

.sf-menu li ul {
  display: none;
  left: 0;
  top: 50px;
  /* match top ul list item height */
  z-index: 99;
  padding: 8px 0;
  box-shadow: 0 5px 51px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 51px rgba(0, 0, 0, 0.15); }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sf-menu li ul {
      top: 42px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sf-menu li ul {
      top: 35px; } }
  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0; } }

.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
  -moz-box-shadow: transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0; }

.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
  border: 1px solid #4267b2;
  padding: 30px;
  width: 100%; }
  .sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 300 14px/normal Ubuntu, sans-serif;
    color: #4267b2;
    font-weight: bold;
  }
    .sf-menu > li > ul > li > a:hover {
      color: #333333; }

.sf-menu > li > ul > li {
  float: left;
  width: 20%;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li {
      width: 100%; } }
  @media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding-right: 0;
  padding-top: 30px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li.category-thumbnail {
      display: none; } }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding-right: 10px;
    width: 33.333%; }
    @media (max-width: 479px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }
    .sf-menu > li > ul > li.category-thumbnail > div img {
      max-width: 100%;
      display: block; }

.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      font: 300 22px/22px Ubuntu, sans-serif;
      text-transform: uppercase;
      color: #777;
      display: block;
      padding: 17px 55px 17px 20px;
      border-bottom: 3px solid #F2F2F2;
      border-top: 3px solid #F2F2F2;
      background: #F8F8F8;
      position: relative;
      -webkit-transition: border 0.5s ease;
      -moz-transition: border 0.5s ease;
      -ms-transition: border 0.5s ease;
      -o-transition: border 0.5s ease;
      transition: border 0.5s ease; }
      .cat-title:hover, .cat-title.active {
        border-color: #12afa3; }
      .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\F0C9";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 33px; } }

.sf-menu li.sf-search {
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: white;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #555555;
    border: 1px solid #cccccc; }
