.logo-top-container {
    background: url(../img/header-background.jpg) no-repeat -47px 0;
    margin-bottom: 10px;
}
.logo-top-container img {
    padding-left: 5px;
    float: left;
}
.slogan {
    margin-top: 55px;
    font-size: 25px;
    font-style: italic;
    float: left; 
    margin-left: 10px;
    color: #555;
}
.navbar-default {
    border-radius: 4px;
}
.navbar-default .navbar-collapse {
    border: 0;
}
.admin-menu {
    width: 95px;
}
.fixed {
    position: fixed;
    top:0;
}
.admin-menu a:first-child {
    border-top-right-radius: 0;
}
.admin-menu a:last-child {
    border-bottom-right-radius: 0;
}
.admin-menu a{
    font-weight: bold;
    text-align: center;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    border: 1px solid #ddd;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.admin-menu a.admin-menu-small-item {
    display: block;
    min-height: 40px;
}
.content-admin {
    padding: 15px;
    min-height: 727px;
    border: 2px solid #337ab7;
    margin-bottom: 20px;
    border-radius: 0 5px 5px 0;
}
.creation-block:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.creation-block {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 250px;
    border: 1px solid #337ab7;
    background: #337ab7;
    color: #fff;
}
.creation-block:hover {
    background: #fff;
    color: #337ab7;
}
.creation-block .glyphicon {
    font-size: 44px;
}
.creation-block.disabled {
    background: #f5f5f5;
    cursor: not-allowed;
    color: #ccc;
    border: 1px solid #ccc;
}
.block-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.border-3px {
    border-width: 3px;
}
.dashed {
    border: 3px dashed #ddd;
}
.file-name {
    overflow: hidden;
    height: 20px;
}
.upload-btn {
    /*    width: 11vw;
        height: 11vw;*/
    height: 190px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trash {
    position: absolute;
    right: 16px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    font-size: 23px;
}
.drag {
    position: absolute;
    left: 16px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    font-size: 23px;
}
.block-creation>div {
    background: #fff;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: #337ab7;
    color: #fff;
}
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
    z-index: 1;
}
.slick-prev:before {
    content: "\e079";
}
.slick-next:before {
    content: "\e080";
}
.slick-prev:before, .slick-next:before {
    color: #777;
    font-family: 'Glyphicons Halflings';
}
.form-row {
    margin: auto;
    margin-bottom: 20px;
}
.form-label {
    float: left;
    padding: 7px 10px 0 10px;
    width: 40%;
    text-align: right;
}
.form-input {
    float: left;
    width: 60%;
}
.form-preview-logo, .form-preview-header {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}
.upload-btn .upload-picture {
    max-height: 100%;
}
.list-picture {
    max-height: 130px;
    overflow: auto;
}
.item-list-picture {
    height: 111px;
}
.item-list-picture img{
    max-height: 100%;
}
.product-disabled {
    width: 87%;
    height: 60px;
    position: absolute;
    top: 40%;
    background: rgba(221, 221, 221, 0.74);
    z-index: 2;
}

/*********************** USER ACCOUNT ********************/
.payment-block {
    display: none;
}
.form-user-account {}
/*********************** DASHBOARD ********************/
.key-stats-container {
    margin: auto;
    width: 64%;
    font-size: 12px;
}
.key-stats-block {
    width: 140px;
    border: 2px dashed #4267b1;
    border-radius: 85px;
    text-align: center;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    color: #4267b1;
    margin-right: 20px;
    font-weight: bold;
    padding: 19px;
    font-size: 11px;
}
.key-stats-block:last-child {
    margin-right: 0;
}
.key-stats-number {
    font-size: 20px;
}
.key-stats-number-all-times {
    font-size: 10px;
    color: #777;
}
.dashboard-table>tbody>tr>td,
.dashboard-table>thead>tr>th {
    font-size: 11px;
    text-align: center;
    /*border: 1px solid #ddd;*/
    vertical-align: middle;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .admin-menu {
        position: initial;
        width: 100%;
        padding: 15px;
    }
    .admin-menu a:first-child {
        border-top-right-radius: 5px;
    }
    .admin-menu a:last-child {
        border-bottom-right-radius: 5px;
    }
    .admin-menu a {
        min-height: fit-content;
        display: block;
    }
    .creation-block {
        font-size: 20px;
        min-height: 200px;
    }
    .creation-block .glyphicon {
        font-size: 30px;
    }
    .content-admin {
        min-height: fit-content;
        border: none;
        padding: 0;
    }
    .form-label {
        padding: 7px 7px 0 0;
        font-size: 13px;
    }
    .key-stats-container {
        width: 87%;
    }
}
@media only screen and (max-width : 600px) {
    .menu-creation .btn {
        font-size: 9px;
        padding: 0;
    }
    .creation-block {
        min-height: min-content;
        font-size: 18px;
    }
    .creation-block .glyphicon {
        font-size: 20px;
    }
    .key-stats-block {
        border-radius: 0;
        padding: 0;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .form-label {
        text-align: left;
    }
    .logo-top-container img {
        height: 100px;
    }
    .slogan {
        margin-top: 25px;
        font-size: 1.3em;
        margin-left: 20px;
    }
    .form-label, .form-input {
        width: 100%;
        float: none;
    }
    .key-stats-container {
        width: 87%;
    }
    .key-stats-block {
        width: 128px;
        margin-bottom: 10px;
        min-height: 110px;
        margin-left: 15px;
        margin-right: 0;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .slogan {
        margin-top: 25px;
        font-size: 1em;
        margin-left: 0px;
    }
    .key-stats-container {
        width: 100%;
    }
    .key-stats-block {
        width: 110px;
    }
}



