.intro-block-picture, .intro-block-picture-square {
    border: 3px solid #eee;
    border-radius: 150px;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #eee;
}
.intro-block-picture-square {
    border-radius: 0;
    background: #fff;
    text-align: center;
    border: 0;
    padding: 0;
}
.intro-block-picture img {
    width: 100%;
}
.intro-quote {
    color: #4267b2;
    font-size: 20px;
}
.intro-title {
    background: #f0ad4e;
    color: #fff;
    font-size: 24px;
    line-height: 25px;
}
.intro-title:before, .intro-title:after {
    content: " ";
    background: #f0ad4e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
}
.intro-title-twince-right:before {
    content: initial;
}
.intro-title-twince-left:after {
    content: initial;
}
.intro-title:after {
    left: 100%;
}
.btn-connect {
    border-radius: 30px
}
@media only screen and (max-width : 1200px) {
    .intro-title:before, .intro-title:after {
        content: none;
        width: 100%;
    }
}
@media only screen and (max-width : 320px) {
    .intro-title {
        font-size: 18px;
    }
    .btn-connect {
        font-size: 15px !important;
    }
    .intro-quote {
       font-size: 20px;
        margin-top: 20px;
    }
}