body, .btn-default {
    color: #555;
}
.border {
    border-radius: 5px;
}
.popup-picture {
    cursor: zoom-in;
}
.mini-picture {
    cursor: pointer;
}
.confirm, .saving, .loading-ajax {
    position: fixed;
    top: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #fff;
    z-index: 9999;
}
a:hover, a:focus {
    text-decoration: none;
}
.dropdown-block-title {
    padding: 10px;
    background: #eee;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}
.dropdown-block {
    /*display: none;*/
}