a, a:hover {
    color: inherit;
}
.header {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-inner {
    float: left;
    background: #fff;
    text-align: center;
    font-size: 1em;
    border-radius: 30px;
    border: 2px solid #ddd;
    cursor: pointer;
    margin-top: 5px;
}
.icon-inner-desk {
    margin-left: 30px;
}
.icon-inner-mobile {
    margin-left: 20px;
}
.icon-inner.icon-currency {
    font-weight: bold;
    padding: 5px;
}
.header-icon .icon-sign-3,
.header-icon .icon-sign-4 {
    font-size: 13px;
    padding: 5px 0px;
}
.header-icon .icon-sign-1,
.header-icon .icon-sign-2{
    font-size: 18px;
    padding: 0px 7px;
}
.options{
    height: 300px;
    overflow: auto;
}
.header-label {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 73px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.73);
    padding-left: 250px;
    width: 98%;
}
.logo {
    width: 150px;
    z-index: 1;
    position: absolute;
    margin-top: -49px;
    margin-left: 8%;
}
.logo img {
    max-width: 100%;
}
.shop-title, .shop-motto {
    font-size: 30px;
}
.shop-title {
    margin-right: 10px;
}
.shop-motto {
    font-style: italic;
    font-size: 13px;
    padding-top: 10px;
    display: block;
    width: 70%;
    float: right;
}
.navbar {
    border-radius: 0;
}
.navbar-nav {
    margin-left: 196px;
    max-width: 820px;
}
.navbar-nav.navbar-right {
    margin-left: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}
.cart-icon span {
    cursor: pointer;
}
.cart {
    display: none;
    min-height: auto !important;
}
.cart-icon-desk.active, .cart-icon-mobile.active {
    background: #337ab7;
}
.cart-icon-desk.active .glyphicon-shopping-cart, .cart-icon-mobile.active .glyphicon-shopping-cart{
    color: #fff;
}
.remove-from-cart {
    position: absolute;
    right: 0;
}
.product-title {
    height: 55px;
    margin-top: 5px;
    overflow: hidden;
}
.picture-mention {
    position: absolute;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.73);
    font-size: 13px;
}
.share-btn {
    line-height: 12px;
}
.fa-google-plus-square, .fa-google-plus-square:hover,
.color-googleplus {
    color: #db4437;
}
.fa-facebook-square, .fa-facebook-square:hover,
.color-facebook {
    color: #3b5998;
}
.fa-twitter-square, .fa-twitter-square:hover,
.color-twitter {
    color: #1da1f2;
}
.fa-instagram, .fa-instagram:hover,
.color-instagram {
    color: #b033b0;
}
.fa-linkedin-square, .fa-linkedin-square:hover,
.color-linkedin {
    color: #007bb6;
}
.fa-pinterest-square, .fa-pinterest-square:hover,
.color-pinterest {
    color: #cb2027;
}
#message {
    height: 225px;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
    .cart-desk {
        position: absolute;
        width: 200px;
        right: 0;
        z-index: 1;
        background: #fff;
        padding: 10px;
        border: 1px solid #DDD;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.10);
    }
}
.ajax_cart_quantity {
    position: absolute;
    top: 8px;
    padding: 2px 6px 1px 6px;
    border-radius: 20px;
    background: #ea3f23;
    color: #fff;
    right: 0;
    font-size: 10px;
    z-index: 1;
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-label {
        margin-top: -24px;
        width: 96%;
        padding-left: 183px;
    }
    .logo {
        margin-left: 9%;
    }
    .shop-title {
        font-size: 17px;
        margin-left: 50px;
    }
    .shop-motto {
        font-size: 15px;
        padding-top: 0;
        width: 63%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .header {
        background-image: none !important;
        height: 0;
    }
    .header-label {
        margin-top: 0;
        position: initial;
        width: 100%;
        padding-left: 0;
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .shop-title, .shop-motto {
        font-size: 15px;
        float: none;
        text-align: center;
        width: 100%;
    }
    .logo {
        width: 150px;
        float: none;
        margin-right: 0;
        margin: auto;
        margin-top: 5px;
        position: initial;
    }
    .shop-motto {
        font-style: italic;
        font-size: 13px;
        float: left;
        padding-top: 5px;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
/************************ CHECKOUT ***************/
.title-block {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.title-block.disabled {
    color: #ccc;
}
.cart_quantity {
    font-size: 20px;
    float: left;
    margin: 0 4px 0 4px;
    cursor: pointer;
}
.input-qty {
    width: 35px;
    text-align: center;
    float: left;
}
#custom-shop-checkout .tab-price-cel,
#custom-shop-checkout .tab-price-cel-first {
    border-radius: 0;
}
.block-checkout {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
#custom-shop-checkout li {
    list-style: none;
    padding-right: 10px; 
    padding-left: 10px; 
}
.address_title {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#address_delivery, #address_invoice {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.selector span {
    display: none;
}
.required {
    color: #f13340;
}

@media (min-width: 320px) {
    #custom-shop-checkout .tab-price-cel-first {
        min-width: 46px;
    }
    #custom-shop-checkout .tab-price-cel {
        min-width: 35px;
    }
    #custom-shop-checkout .tab-price-cel-first, #custom-shop-checkout .tab-price-cel {
        font-size: 10px;
    }
}
@media (min-width: 375px) {
    #custom-shop-checkout .tab-price-cel-first, #custom-shop-checkout .tab-price-cel {
        font-size: 12px;
    }
    #custom-shop-checkout .tab-price-cel-first {
        min-width: 55px;
    }
    #custom-shop-checkout .tab-price-cel {
        min-width: 43px;
    }
}