.border {
    border-radius: 3px;
}
.logo-top-container img {
    height: 100px;
    padding-left: 5px;
}
.admin-menu {
    text-align: center;
    position: fixed;
    width: 93px;
}
.admin-menu a:first-child {
    border-top-right-radius: 0;
}
.admin-menu a:last-child {
    border-bottom-right-radius: 0;
}
.admin-menu a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-admin {
    padding: 10px;
}
.creation-block:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.creation-block {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 200px;
}
.block-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.border-3px {
    border-width: 3px;
}
.dashed {
    border: 3px dashed #ddd;
}
.file-name {
    overflow: hidden;
    height: 20px;
}
.upload-btn {
    width: 15vw;
    height: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trash {
    position: absolute;
    right: 16px;
    padding: 5px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: #337ab7;
    color: #fff;
}
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
    z-index: 1;
}
.slick-prev:before {
    content: "\e079";
}
.slick-next:before {
    content: "\e080";
}
.slick-prev:before, .slick-next:before {
    color: #777;
    font-family: 'Glyphicons Halflings';
}
.form-row {
    margin: auto;
    margin-bottom: 20px;
}
.form-label {
    float: left;
    padding: 7px 10px 0 10px;
    width: 40%;
    text-align: right;
}
.form-input {
    float: left;
    width: 60%;
}
.form-preview-logo, .form-preview-header {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .admin-menu {
        position: initial;
        width: auto;
    }
    .upload-btn {
        width: auto;
        height: auto;
    }
    .form-label {
        padding: 7px 0 0 0;
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .form-label {
        text-align: left;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}



