.logo-top-container {
    background: url(../img/header-background.jpg) no-repeat 0 0;
    margin-bottom: 10px;
}
.logo-top-container img {
    padding-left: 5px;
    float: left;
}
.slogan {
    margin-top: 55px;
    font-size: 25px;
    font-style: italic;
    float: left;
    margin-left: 20px;
    color: #555;
}
.admin-menu {
    width: 93px;
}
.fixed {
    position: fixed;
    top:0;
}
.admin-menu a:first-child {
    border-top-right-radius: 0;
}
.admin-menu a:last-child {
    border-bottom-right-radius: 0;
}
.admin-menu a{
    font-weight: bold;
    text-align: center;
    min-height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    border: 1px solid #ddd;
    border-right: 0;
}
.content-admin {
    padding: 10px;
    min-height: 727px;
    border: 2px solid #337ab7;
    margin-bottom: 20px;
}
.creation-block:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.creation-block {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 250px;
    border: 1px solid #337ab7;
    background: #337ab7;
    color: #fff;
}
.creation-block:hover {
    background: #fff;
    color: #337ab7;
}
.creation-block .glyphicon {
    font-size: 44px;
}
.block-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.border-3px {
    border-width: 3px;
}
.dashed {
    border: 3px dashed #ddd;
}
.file-name {
    overflow: hidden;
    height: 20px;
}
.upload-btn {
    /*    width: 11vw;
        height: 11vw;*/
    height: 190px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trash {
    position: absolute;
    right: 16px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: #337ab7;
    color: #fff;
}
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
    z-index: 1;
}
.slick-prev:before {
    content: "\e079";
}
.slick-next:before {
    content: "\e080";
}
.slick-prev:before, .slick-next:before {
    color: #777;
    font-family: 'Glyphicons Halflings';
}
.form-row {
    margin: auto;
    margin-bottom: 20px;
}
.form-label {
    float: left;
    padding: 7px 10px 0 10px;
    width: 40%;
    text-align: right;
}
.form-input {
    float: left;
    width: 60%;
}
.form-preview-logo, .form-preview-header {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}
.upload-btn .upload-picture {
    max-height: 100%;
}
.item-list-picture {
    height: 111px;
}
.item-list-picture img{
    max-height: 100%;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .admin-menu {
        position: initial;
        width: 100%;
    }
    .admin-menu a {
        min-height: fit-content;
        display: block;
    }
    .creation-block {
        font-size: 15px;
        min-height: fit-content;
    }
    .creation-block .glyphicon {
        font-size: 30px;
    }
    .content-admin {
        min-height: fit-content;
    }
    .form-label {
        padding: 7px 0 0 0;
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .form-label {
        text-align: left;
    }
    .logo-top-container img {
        height: 100px;
    }
    .slogan {
        margin-top: 25px;
        font-size: 1.3em;
        margin-left: 30px;
    }
    .form-label, .form-input {
        width: 100%;
        float: none;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .slogan {
        margin-top: 25px;
        font-size: 1em;
        margin-left: 0px;
    }
}



