body {
    color: #777;
}
.btn-default {
    color: #777;
}
#mobile {
    color: #777;
}
.white-popup {
    text-align: left;
}
a {
    color: inherit;
}
hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn {
    border-radius: 0;
}
.thumbnail {
    border-radius: 0;
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.header-icon {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 0px;
}
.icon-inner {
    text-align: center;
    font-size: 1em;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding-top: 15px;
}
.header-icon .icon-inner.icon-currency {
    font-weight: bold;
    padding-top: 0px;
}
.header-icon .icon-sign-3,
.header-icon .icon-sign-4 {
    font-size: 15px;
    padding-top: 13px;
}
.header-icon .icon-sign-1,
.header-icon .icon-sign-2{
    font-size: 20px;
    padding-top: 10px;
}
.dropdown-menu {
    max-height: 200px;
    overflow: auto;
}
.options {
    max-height: 200px;
    overflow: auto;
    border-top: 1px solid #ddd;
}

.options .option {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.selection {
    border-right: 1px solid #ddd; 
}
.preview, .selection {
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .selection {
        font-size: inherit;
        border: none;
        border-right: 1px solid #ddd;
    }
    .preview {
        font-size: inherit;
    }
}
.slick-prev:before, .slick-next:before {
    color: #777;
    font-family: 'Glyphicons Halflings';
}
.slick-prev:before {
    content: "\e079";
}
.slick-next:before {
    content: "\e080";
}
.slick-slide {
    height: auto;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
    z-index: 1;
}
.slick-slider {
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a.disabled {
    background: #eee;
    color: #9d9d9d;
    /*font-style: italic;*/
}
.navbar-default .navbar-nav>li>a.disabled:before {
    font-family: 'Glyphicons Halflings';
    content: '\e090';
    padding-right: 5px; 
}
.ajax_cart_quantity {
    position: absolute;
    top: 8px;
    padding: 2px 6px 1px 6px;
    border-radius: 20px;
    background: #ea3f23;
    color: #fff;
    right: 0;
    font-size: 10px;
}
.loading-ajax {
    position: fixed;
    bottom: 0;
    background: #f8f8f8;
    z-index: 1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
/************** PRODUCT PAGE ****************/

#mobile-product-page .tab-price-cel-first, #mobile-product-page .tab-price-cel {
    font-size: 12px;
}
#mobile-product-page .tab-price-cel-first {
    background: #ddd;
    min-width: 120px;
}
#mobile-product-page .tab-price-cel {
    min-width: 60px;
}
/************** SELECT DESIGN ****************/

.block-choice {
    padding: 20px;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 18;
}
.white-popup {
    padding: 20px;
    padding-top: 40px;
}
.thumbnail {
    margin-bottom: 0;
}

/************** CHECKOUT ****************/
.title-block {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.block-checkout {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
@media (min-width: 320px) {
    #mobile-checkout .tab-price-cel-first {
        min-width: 46px;
    }
    #mobile-checkout .tab-price-cel {
        min-width: 35px;
    }
    #mobile-checkout .tab-price-cel-first, #mobile-checkout .tab-price-cel {
        font-size: 10px;
    }
}
@media (min-width: 375px) {
    #mobile-checkout .tab-price-cel-first, #mobile-checkout .tab-price-cel {
        font-size: 12px;
    }
    #mobile-checkout .tab-price-cel-first {
        min-width: 55px;
    }
    #mobile-checkout .tab-price-cel {
        min-width: 43px;
    }
}
.input-qty {
    width: 35px;
    text-align: center;
}
.block-product {
    position: relative;
}
.block-modify {
    position: absolute;
    right: 0;
    z-index: 1;
}

/******************** ADDRESS **********************/
#mobile-checkout li {
    list-style: none;
    padding-right: 10px; 
    padding-left: 10px; 
}
.address_title {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#address_delivery, #address_invoice {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.selector span {
    display: none;
}
/****************** FORM VALIDATE ******************/
.form-group.form-error input,
.form-group.form-error textarea {
  border: 1px solid #f13340;
  color: #f13340;
  background: url(../img/icon/form-error.png) 98% 9px no-repeat #fff1f2; }
.form-group.form-ok input,
.form-group.form-ok textarea {
  border: 1px solid #46a74e;
  color: #35b33f;
  background: url(../img/icon/form-ok.png) 98% 9px no-repeat #ddf9e1; }
.form-group.form-error .form-control, .form-group.form-ok .form-control {
  padding-right: 30px; }