#mobile {
    color: #777;
}
.white-popup {
    text-align: left;
}
a {
    color: inherit;
}
hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn {
    border-radius: 0;
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.header-icon {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 0px;
}
.icon-inner {
    text-align: center;
    font-size: 1em;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding-top: 15px;
}
.header-icon .icon-inner.icon-currency {
    font-weight: bold;
    padding-top: 0px;
}
.header-icon .icon-sign-3,
.header-icon .icon-sign-4 {
    font-size: 15px;
    padding-top: 13px;
}
.header-icon .icon-sign-1,
.header-icon .icon-sign-2{
    font-size: 20px;
    padding-top: 10px;
}
.dropdown-menu {
    max-height: 200px;
    overflow: auto;
}
.options {
    max-height: 200px;
    overflow: auto;
    border-top: 1px solid #ddd;
}

/*.options {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 200px;
    overflow: auto;
    font-size: 15px;
    border-top: 1px solid #ddd;
    background: #fff;
    display: none;
}*/
.options .option {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.selection {
    border-right: 1px solid #ddd; 
}
.preview, .selection {
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .selection {
        font-size: inherit;
        border: none;
        border-right: 1px solid #ddd;
    }
    .preview {
        font-size: inherit;
    }
}
.slick-prev:before, .slick-next:before {
    color: #777;
    font-family: 'Glyphicons Halflings';
}
.slick-prev:before {
    content: "\e079";
}
.slick-next:before {
    content: "\e080";
}
.slick-slide {
    height: auto;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
    z-index: 1;
}
.slick-slider {
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a.disabled {
    background: #eee;
    color: #9d9d9d;
    /*font-style: italic;*/
}
.navbar-default .navbar-nav>li>a.disabled:before {
    font-family: 'Glyphicons Halflings';
    content: '\e090';
    padding-right: 5px; 
}

/************** PRODUCT PAGE ****************/
.tab-price-cel-first {
    background: #ddd;
    min-width: 120px;
}
.tab-price-cel {
    min-width: 60px;
}
/************** SELECT DESIGN ****************/

.block-choice-design {
    padding: 20px;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 18;
}
.white-popup {
    padding: 20px;
}