@import "../../_theme_variables";

/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1;
  #homeslider {
    margin: 0 auto;
    padding: 0;
  }
  .homeslider-description {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    h4 {
      font: 400 35px/normal $font-family;
      color: #12afa3;
      margin: 0 0 8px;
      padding: 0;
	  @media (max-width:$screen-xs - 1){font-size:28px;}
    }
    p {
      font: 300 30px/normal $font-family;
      color: #888;
      margin: 0;
	  @media (max-width:$screen-xs - 1){font-size:20px;color:#555;}
    }
  }

}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
//RESET AND LAYOUT
#homepage-slider {
  .homeslider-container {
    position: relative;
  }
  .homeslider-image {
    position: absolute;
    left: 0;
    top: 0;
  }
  .homeslider-description {
    position: absolute;
    right: 145px;
    bottom: 190px;
	@media (max-width:$screen-md-max){right:auto;left:50%;}
	@media (max-width:$screen-sm-max){bottom:auto;top:20%;left:45%;}
	@media (max-width:$screen-xs-max){bottom:0;top:0;left:0;right:0;text-align:center;background:rgba(255, 255, 255, 0.59);padding:11% 30px 10px;}
  }
  .bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
    a {
      display: block;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  // THEME
  .bx-wrapper {
    .bx-viewport {
      width: 100%;
    }
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 999;
  }
  //LOADER
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat $light-background;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  //PAGER
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: $font-family;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border: 3px solid #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
  }
  //DIRECTION CONTROLS (NEXT / PREV)
  .bx-wrapper .bx-prev {
    left: 25px;
    right: auto;
    @media (min-width: 1350px){left: -40px;}
    @media (max-width:$screen-xs-max) {left: 15px;}
    &:before {
      content: "\f104";
    }
  }
  .bx-wrapper .bx-next {
    right: 25px;
    @media (min-width: 1350px) {right: -40px;}
   @media (max-width:$screen-xs-max) {right: 15px;}
    &:before {
      content: "\f105";
    }
  }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    margin-top: -11px;
    outline: 0;
    z-index: 9999;
    &:before {
      color: #888;
    }
    &:hover {
      &:before {
        color: #12afa3;
      }
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  //AUTO CONTROLS (START / STOP)
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  //PAGER WITH AUTO-CONTROLS HYBRID LAYOUT
  .bx-wrapper .bx-controls .bx-controls-auto {
    right: 15px;
    width: 35px;
    top: 15px;
  }
  //IMAGE CAPTIONS
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: $light-text-color;
    font-family: $font-family;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}

.ie8 {
  #homepage-slider {
    .bx-wrapper .bx-controls-direction a {
      &:before {
        background: $dark-background;
      }
    }
  }
}

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0;
  display: none;
  a {
    display: inline-block;
    max-width: 150px;
    width: 31%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}